@import 'style/branding.scss';

.ContactUs {
  margin: 0 1em;

  &-container {
    max-width: 600px;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 1.5em;
    }
    p {
      font-size: 1em;
    }

    input, textarea {
      margin-bottom: 1em;
    }
  }
}
